<div class="footer">
    <div class="wrapper">
        <div class="footer__columns">
            <div>
                308023, г. Белгород, проспект Богдана Хмельницкого, 111, <br> Бизнес Центр "Энергомаш", офис 431
            </div>
            <div>
                <a href="tel:+74722402240">+7(4722) 248-777</a>
                email:
                <a href="mailto:lili@scn.ru">lili@scn.ru</a>
            </div>
            <div>
                <a href="http://1cbo.ru/" target="_blank">«1С:БухОбслуживание»</a>
            </div>
        </div>
    </div>
</div>