<div class="header">
  <div class="container">
      <div class="header__logo">
          <a href="/">
              <img src="/local/templates/main/img/logo.png" alt="1С БухОбслуживание" class="header__logo-image">
          </a>
      </div>
      <div class="header__info">
          <div class="header__slogan">
              <span class="header__slogan-text">ТИС-Консалт / Белгород</span>
          </div>
          <div class="header__phone">
              <div class="header__phone-block">
                  <a href="tel:+74722402240" class="header__phone-number">+7 (4722) 40-22-40</a>
              </div>
              <div class="header__form">
                  <a href="#" class="header__form-button">Связаться с нами</a>
              </div>
          </div>
          <div class="header__logo-right">
              <a href="/" target="_blank">
                  <img src="/images/t_logo.png" alt="ТИС-Консалт" class="header__logo-right-image">
              </a>
          </div>
      </div>
      <nav class="header__navigation">
          <ul class="header__navigation-list">
              <li class="header__navigation-item">
                  <a href="/about/" class="header__navigation-link">О компании</a>
              </li>
              <li class="header__navigation-item header__navigation-item--dropdown">
                  <span class="header__navigation-link">Тарифы и услуги</span>
                  <ul class="header__dropdown-list">
                      <li><a href="/tariffs/complex-service/">Тариф «Комплексный сервис»</a></li>
                      <li><a href="/tariffs/reporting/">Тариф «Отчетность»</a></li>
                      <li><a href="/tariffs/additional-services/">Дополнительные услуги</a></li>
                  </ul>
              </li>
              <li class="header__navigation-item">
                  <a href="/Promotions/" class="header__navigation-link">Акции и бонусы</a>
              </li>
              <li class="header__navigation-item">
                  <a href="/feedback/" class="header__navigation-link">Отзывы</a>
              </li>
              <li class="header__navigation-item">
                  <a href="/faq/" class="header__navigation-link">Частые вопросы</a>
              </li>
              <li class="header__navigation-item">
                  <a href="/contacts/" class="header__navigation-link">Контакты</a>
              </li>
          </ul>
      </nav>
  </div>
</div>